In [65]:
# Import Data set 
import pandas as pd
df = pd.read_csv('/content/AMZN.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1997-05-15,2.437500,2.500000,1.927083,1.958333,1.958333,72156000
1,1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000
2,1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800
3,1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200
4,1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200
...,...,...,...,...,...,...,...
5660,2019-11-11,1778.000000,1780.000000,1767.130005,1771.650024,1771.650024,1946000
5661,2019-11-12,1774.660034,1786.219971,1771.910034,1778.000000,1778.000000,2037600
5662,2019-11-13,1773.390015,1775.000000,1747.319946,1753.109985,1753.109985,2989500
5663,2019-11-14,1751.430054,1766.589966,1749.560059,1754.599976,1754.599976,2264800
5664,2019-11-15,1760.050049,1761.680054,1732.859985,1739.489990,1739.489990,3927600

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5665 entries, 0 to 5664
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5665 non-null   object
 1   Open       5665 non-null   float64
 2   High       5665 non-null   float64
 3   Low        5665 non-null   float64
 4   Close      5665 non-null   float64
 5   Adj Close  5665 non-null   float64
 6   Volume     5665 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 309.9+ KB

In [67]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [68]:
df = df.drop(columns ='Date')
df

,Open,High,Low,Close,Adj Close,Volume
0,2.437500,2.500000,1.927083,1.958333,1.958333,72156000
1,1.968750,1.979167,1.708333,1.729167,1.729167,14700000
2,1.760417,1.770833,1.625000,1.708333,1.708333,6106800
3,1.729167,1.750000,1.635417,1.635417,1.635417,5467200
4,1.635417,1.645833,1.375000,1.427083,1.427083,18853200
...,...,...,...,...,...,...
5660,1778.000000,1780.000000,1767.130005,1771.650024,1771.650024,1946000
5661,1774.660034,1786.219971,1771.910034,1778.000000,1778.000000,2037600
5662,1773.390015,1775.000000,1747.319946,1753.109985,1753.109985,2989500
5663,1751.430054,1766.589966,1749.560059,1754.599976,1754.599976,2264800
5664,1760.050049,1761.680054,1732.859985,1739.489990,1739.489990,3927600

In [69]:
# Input
x = df.iloc[:,0:5].values
x

array([[2.43750000e+00, 2.50000000e+00, 1.92708300e+00, 1.95833300e+00,
        1.95833300e+00],
       [1.96875000e+00, 1.97916700e+00, 1.70833300e+00, 1.72916700e+00,
        1.72916700e+00],
       [1.76041700e+00, 1.77083300e+00, 1.62500000e+00, 1.70833300e+00,
        1.70833300e+00],
       ...,
       [1.77339001e+03, 1.77500000e+03, 1.74731995e+03, 1.75310999e+03,
        1.75310999e+03],
       [1.75143005e+03, 1.76658997e+03, 1.74956006e+03, 1.75459998e+03,
        1.75459998e+03],
       [1.76005005e+03, 1.76168005e+03, 1.73285999e+03, 1.73948999e+03,
        1.73948999e+03]])

In [70]:
# Output
y= df.iloc[:,5].values
y

array([72156000, 14700000,  6106800, ...,  2989500,  2264800,  3927600])

In [71]:
#TRAIN AND TEST VARIABLES
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0)

In [72]:
print(x.shape)
print(x_train.shape)
print(x_test.shape)

(5665, 5)
(4248, 5)
(1417, 5)

In [73]:
print(y.shape)
print(y_train.shape)
print(y_test.shape)

(5665,)
(4248,)
(1417,)

In [74]:
#SCALING OR NORMALIZATION - ONLY FOR INPUTS
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [75]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [77]:
# Fit in the model
model.fit(x_train,y_train)

LinearRegression()

In [78]:
y_pred = model.predict(x_test)
y_pred

array([8333145.62286541, 8438148.79067627, 8603577.48679106, ...,
       7438327.97397013, 3526135.70531658, 6944613.09780655])

In [79]:
y_test

array([ 7099300,  5252500, 11404500, ...,  1711700,  2760100,  2246100])

In [83]:
model.predict([x_train[10]])

array([8534428.4182994])